<article id="abertura" class="termo">
  <!-- adaptado do modelo JUCESP -->

  <header>
    <h2>LIVRO DE MATRÍCULA</h2>
    <h1>TERMO DE ABERTURA</h1>
  </header>

  <section>
    <p class="txtcampo">Número de ordem: <span>{{org_livro}}</span>.</p>
    <p class="txtcampo">O presente Livro de Matrícula possui <span class="npages"></span> páginas
      numeradas do nº <span>1</span> ao nº <span class="npages"></span> e servirá para a escrituração dos
      lançamentos próprios da cooperativa abaixo identificada:
      <blockquote>
        CNPJ: <span>{{org_cnpj}}</span>
        <br/>Nome: <span>{{org_namefull}}</span>
        <br/>Bairro e município: <span>{{org_end_bairroCidade}}</span>
        <br/>Registro na Jucesp (código Nire): <span>{{org_nire}}</span>
        <br/>Data do arquivamento dos atos constitutivos: <span>{{org_dataArqnt}}</span>
      </blockquote>
    </p>
    <table class="signs"><tr>
      <td>Nome completo do responsável:
        <br/>Função/cargo:
      </td>
      <td>&#160; &#160; &#160; &#160;</td>
      <td>Nome completo do contador:
        <br/>CRC nº:
      </td>
    </tr></table>
  </section>
</article>
