<article id='matricula-{{IDmatricula}}'>
<header><h1>Matrícla {{IDmatricula}}</h1>
	<span class='DataAdesao'><span>Data de adesão:</span><span class='data'>{{DataAdesao}}</span></span>
</header>

<!-- resolver com $('#parent:has(#child)'); -->

<section id='bloco-1'><h2>Cadastro da pessoa física</h2>
	<p>
		<span class='FotoCooperado'>{{FotoCooperado}}</span>
		<span class='NomeCooperado'><span>Nome do cooperado:</span><span class='texto'>{{NomeCooperado}}</span></span>
		<span class='DataNascimento'><span>Data de nascimento:</span><span class='data'>{{DataNascimento}}</span></span>
		<span class='Naturalidade'><span>Naturalidade:</span><span class='texto'>{{Naturalidade}}</span></span>
		<span class='Nacionalidade'><span>Nacionalidade:</span><span class='texto'>{{Nacionalidade}}</span></span>
	</p>

	<p>
		<span class='Idade'><span>Idade:</span><span class='inteiro'>{{Idade}}</span></span>
		<span class='EstadoCivil'><span>Estado Civil:</span><span class='texto'>{{EstadoCivil}}</span></span>
		<span class='Profissao'><span>Profissao:</span><span class='texto'>{{Profissao}}</span></span>
		<span class='GrauInstrucao'><span>Grau de instrução:</span><span class='texto'>{{GrauInstrucao}}</span></span>
	</p>
	<p><span class='Endereco'><span>Endereço (residência):</span><span class='estrutura'>{{Endereco}}</span></span></p>
	<p>
		<span class='NomeMae'><span>Nome da mãe:</span><span class='texto'>{{NomeMae}}</span></span>
		<span class='NomePai'><span>Nome do pai:</span><span class='texto'>{{NomePai}}</span></span>
	</p>
	<p>
		<span class='DataAdmissao'><span>Data de admissão:</span><span class='data'>{{DataAdmissao}}</span></span>
		<span class='DataDemissao'><span>Data demissão :</span><span class='texto'>{{DataDemissao}}</span></span>
	</p>
	<p><span class='Observacoes'><span>Observações:</span><span class='texto'>{{Observacoes}}</span></span></p>
	<p><span class='AssinaturaCooperado'><span>Assinatura do cooperado:</span><span class='NULL'>{{AssinaturaCooperado}}</span></span></p>
	<p><span class='Testemunhas'><span>Testemunhas (RG, CPF, nome e assinatura):</span><span class='estrutura'>{{Testemunhas}}</span></span></p>

</section>

<section id='bloco-2'><h2>Documentos do cooperado</h2>
	<span class='Rg'><span>RG:</span><span class='estrutura'>{{Rg}}</span></span>
	<br/><span class='Cpf'><span>CPF:</span><span class='codigo'>{{Cpf}}</span></span>
	<br/><span class='CarteiraProfissional'><span>Carteira profissional:</span><span class='estrutura'>{{CarteiraProfissional}}</span></span>
	<br/><span class='CertidaoNascimento'><span>Certidão de Nascimento/Casamento:</span><span class='codigo'>{{CertidaoNascimento}}</span></span>
	<br/><span class='Pis'><span>PIS:</span><span class=''>{{Pis}}</span></span>
	<br/><span class='TituloEleitor'><span>Título de eleitor:</span><span class='estrutura'>{{TituloEleitor}}</span></span>
  </section>

<section id='bloco-3'><h2>Dependentes</h2>
	<table boder='1'>
		<thead>
		  <tr><th>Nome do dependente</th> <th>Data de nascimento</th></tr>
		</thead>
		<tbody>
		{{#bloco3}}
		<tr>
			<td class='texto'>{{NomeDependente}}</td>
			<td class='data'><time>{{DataNascimento}}</time></td>
		</tr>
		{{/bloco3}}
		</tbody>
	</table>
</section>

<section id='bloco-4'><h2>Conta Corrente Capital</h2>
<table boder='1'>
	<thead>
	  <tr><th rowspan='2'>Data</th> <th rowspan='2'>Histórico das subscrições de quotas-parte</th>
	      <th colspan='3'>Movimento de Capital Social</th>
	  </tr>
	  <tr><th>Subscrito</th> <th>Realizado</th> <th>Saldo</th></tr>
	</thead>
	<tbody>
	{{#bloco4}}
	<tr>
		<td class='data'><time>{{Data}}</time></td>
		<td class='texto'>{{HistoricoSubscricoesQP}}</td>
		<td class='real'>{{Subscrito}}</td>
		<td class='real'>{{Realizado}}</td>
		<td class='real'>{{Saldo}}</td>
	</tr>
	{{/bloco4}}
	</tbody>
</table>
</section>

</article>
