<article id='matricula-{{matricula}}'>

<section id='bloco-1' class="dados">

	<table width="100%"><tr>
		<td>
			<h1>Matrícula {{matricula}} &#160; <small>(pessoa física)</small></h1>
			<span class='NomeCooperado'><span>Nome do cooperado:</span> <span class="vtexto wd50em">{{NomeCooperado}}</span></span>
			<br/><span class='Cpf'><span>CPF:</span> <span class='vtexto'>{{cpf}}</span></span>
			&#160;&#160; <span class='Sexo'><span>Sexo:</span> <span class='vtexto'>{{sexo}}</span></span>
			&#160;&#160;<span class='Nacionalidade'><span>Nacionalidade:</span> <span class="vtexto">{{DataNascimento-codPais}}</span></span>
			<br/>&#160;
			<br/><span class='DataNascimento'><span>Data de nascimento:</span> <span class="vdata wd10em">{{DataNascimento}}</span></span>
			&#160;<span class='DataNascimento'><span>Cidade:</span> <span class="vtexto">{{DataNascimento-codIBGE}}, {{DataNascimento-uf}}</span></span>
			<br/><span class='NomeMae'><span>Nome da mãe:</span> <span class='vtexto wd30em'>{{NomeMae}}</span></span>
			<br/><span class='NomePai'><span>Nome do pai:</span> <span class='vtexto wd30em'>{{NomePai}}</span></span>
		</td>
		<td width="210" class="FotoCooperado">
			<img src="./src/assets/_local/john-doe.jpg"/>
		</td>
		</tr></table>

		<div class="blk"><span class='DataAdesao'><span>Data de adesão/admissão:</span> <span class='vdata wd10em'>{{DataAdesao}}</span></span>
			<blockquote class="box">
				<span class='AdesaoObs'><span>Observações:</span> <span class='vtexto wd30em'>{{Observacoes}}</span></span>
				<br/><span class='AssinaturaCooperado'><span>Assinatura do cooperado:</span> <span class='vtexto wd30em'>{{AssinaturaCooperado}}</span></span>
				<br/><span class='Testemunhas'><span>Testemunhas (RG, CPF, nome e assinatura):</span><span class='estrutura'>{{Testemunhas}}</span></span>
			</blockquote>
		</div>

		<div class="blk">Termo de Demissão:
			<blockquote class="box">
				<span class='Motivos'><span>Motivos:</span> <span class='vtexto wd30em'>{{Motivos}}</span></span>
				<br/><span class='DemObs'><span>Observações:</span> <span class='vtexto wd30em'>{{DemObs}}</span></span>
				<br/><span class='DataDemissao'><span>Data demissão:</span> <span class='vdata wd10em'>{{DataDemissao}}</span></span>
				<br/><span class='DemAss'><span>Assinatura:</span> <span class='vtexto wd30em'></span></span>
			</blockquote>
		</div>

		<div class="blk">Demais documentos:
			<blockquote class="box">...  Identidade: {{rg_num}} ({{rg_exp}}), ... PIS: {{Pis}}...
				CarteiraProfissional: {{CarteiraProfissional}}...		CertidaoNascimento...		TituloEleitor
			</blockquote>
		</div>

		<div class="blk">Dados atualizados em ?/?/2016:
			<blockquote class="box">
			<span class='Idade'><span>Idade:</span> <span class="vinteger wd03em">{{Idade}}</span></span>

			&#160;<span class='Naturalidade'><span>Naturalidade:</span> <span class="vtexto wd10em">{{Naturalidade}}</span></span>
			&#160;&#160; <span class='EstadoCivil'><span>Estado Civil:</span> <span class='vtexto wd10em'>{{EstadoCivil}}</span></span>
			<br/><span class='Profissao'><span>Profissao:</span> <span class='vtexto wd10em'>{{Profissao}}</span></span>
			&#160;<span class='GrauInstrucao'><span>Grau de instrução:</span> <span class='vtexto wd10em'>{{grauInstrucao}}</span></span>
			<br/>Endereço residencial:
			<br/> &#160; <span class='vtexto'>{{Endereco-logradouro-tipo}}. {{Endereco-logradouro-nome}}, nº{{Endereco-logradouro-num}}</span>  &#160; • &#160; CEP <span class='vtexto'>{{Endereco-cep}}</span> &#160; • &#160; <span class='vtexto'>{{Endereco-cidade}}, {{Endereco-uf}}</span>
			{{^dependentes-qt}}<br/>Dependentes: nenhum dependente.{{/dependentes-qt}}
			{{#dependentes-qt}}
			<br/><b>{{dependentes-qt}} dependentes</b>:
			<table class="dependentes" border="1" width="100%">
			<thead>
			<tr>
				<td width="10%">Nascimento</td>
				<td width="15%">RG</td>
				<td>Nome</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="s2" dir="ltr">...</td>
				<td class="s2" dir="ltr">...</td>
				<td class="s2" dir="ltr">...</td>
			</tr>
			<tr>
				<td class="s2" dir="ltr">...</td>
				<td class="s2" dir="ltr">...</td>
				<td class="s2" dir="ltr">...</td>
			</tr>
			</tbody>
			</table>
			{{/dependentes-qt}}
		</blockquote>
	</div>

</section>

<section id='bloco-4' class="dados"><h2>Conta Corrente Capital</h2>
Valor da quota-parte: <b><i>R$ .....</i></b>
<br/>

<table class="saldo1" border="1" width="100%">
<thead>
<tr>
	<td class="s0" dir="ltr" rowspan="2">Data</td>
	<td class="s0" dir="ltr" rowspan="2">Histórico das subscrições de quotas-parte</td>
	<td class="s1" dir="ltr" colspan="3">Movimento de Capital Social</td>
</tr>
<tr>
	<td class="s2" dir="ltr">Subscrito</td>
	<td class="s2" dir="ltr">Realizado</td>
	<td class="s2" dir="ltr">Saldo</td>
</tr>
</thead>

<tbody>
<tr>
	<td>dt1</td>
	<td>hist1</td>
	<td>sbs1</td> <td>rld1</td> <td>sld1</td>
</tr>
<tr>
	<td>dt2</td>
	<td>hist2</td>
	<td>sbs2</td> <td>rld2</td> <td>sld2</td>
</tr>
<tr>
	<td>...</td>
	<td>...</td>
	<td>...</td> <td>...</td> <td>...</td>
</tr>
</tbody>
</table>

</section>

</article>
